<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="database" connectionString="Data Source=(local);Integrated Security=true;Initial Catalog=ORM" />-->
    <add name="local" connectionString="Data Source=(local)\Accounts;Integrated Security=true;Initial Catalog=ORM" />
  </connectionStrings>
</configuration>